<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<div class="card">
    <div class="card-body">
        <form class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">ข้อมูลเกี่ยวกับ AutoWash</h4>
                </div>
            </div>
        </form>

        <div class="card-body">
            <ul class="timeline">
                <li class="timeline-item">
                    <div class="timeline-badge info">
                        <i class="fa fa-car"></i>
                     </div>
                    <div class="timeline-panel animated slideInUp">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">ทำความรู้จักกับ Autowash
                            </h4>
                        </div>
                        <div class="timeline-body">
                            <img src="/assets/images/gallery/about1.png">
                            <p>AutoWash เป็นเว็บไซต์ระบบบริหารจัดการร้านล้างรถ ที่ช่วยให้คุณสามารถบริหารร้านล้างรถได้ง่าย สะดวก รวดเร็วยิ่งขึ้น
                            โดยเว็บไซต์ AutoWash นี้ได้พัฒนาต่อยอดจากแอพลิเคชั่น AutoWash บนสมาร์โฟน เพื่อประสิทธิภาพการบริหารงานร้านล้างรถมากขึ้น
                            และตรงตามความต้องการของผู้ใช้งานให้มากที่สุด
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted timeline-item">
                    <div class="timeline-badge success">
                        <i class="fa fa-save"></i>
                    </div>
                    <div class="timeline-panel animated slideInUp">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">การจัดเก็บข้อมูลอย่างเป็นระบบ</h4>
                        </div>
                        <div class="timeline-body">
                            <img src="/assets/images/gallery/about2.png">
                            <p>AutoWash สามารถช่วยคุณจัดเก็บข้อมูลของลูกค้า ข้อมูลรถลูกค้า ข้อมูลบริการ รวมถึงประวัติการเข้าใช้บริการของลูกค้า  และมาพร้อมระบบบริหารจัดการภายในร้านอย่างเป็นระบบ เช่น การจัดการสาขา การจัดการการดำเนินงาน เป็นต้น
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge danger">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="timeline-panel animated slideInUp">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">AutoWash การวิเคราะห์ข้อมูลให้คุณ</h4>
                        </div>
                        <div class="timeline-body">
                            <img src="/assets/images/gallery/about3.png">
                            <p>AutoWash สามารถวิเคราะห์และสรุปข้อมูลยอดค่าบริการ จำนวนรถที่เข้าใช้บริการ จำนวนบริการที่ลูกค้าใช้งาน
                                ตั้งแต่รายวัน รายสัปดาห์ รายเดือน รายปี พร้อมทั้งสามารถพิมพ์ใบเสร็จชำระเงินหากลูกค้าต้องการ
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted timeline-item">
                    <div class="timeline-panel animated slideInUp">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">เข้าใช้งานที่ไหนก็ได้</h4>
                        </div>
                        <div class="timeline-body">
                             <img src="/assets/images/gallery/about4.png">
                            <p>คุณสามารถใช้งาน AutoWash จากที่ไหนก็ได้ จะเครื่องคอมพิวเตอร์ สมาร์โฟน หรือ แท็ปเล็ตของคุณได้
                                ผ่านระบบเครือข่ายอินเตอร์เน็ต ทั้งสะดวก รวดเร็ว ปลอดภัยผ่านด้วยเทคโนโลยี Cloud
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>