<div class="error-box">
    <div class="error-body text-center">
        <h1 class="error-title text-danger">404</h1>
        <h3 class="text-uppercase error-subtitle">ไม่พบหน้าที่คุณต้องการ</h3>
        <p class="text-muted m-t-30 m-b-30">กรุณากลับไปหน้าหลัก</p>
        <a (click)="onGoToLogin()" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">กลับ</a> 
    </div>
</div>