<div class="row">
    <div class="col-md-4" *ngFor="let item of listbranch">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">{{ item.branch_name }}</h4>
                <div><a>{{ item.branch_address }}</a></div>
                <button (click)="onChangeBranch(item)" class="btn btn-primary">เลือกสาขา</button>
            </div>
        </div>
    </div>
</div>
