<div class="card">
    <div class="card-body">
        <form class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">ดาวน์โหลดแอพ Autowash</h4>
                </div>
            </div>
        </form>

        <div class="container animated slideInUp">
            <div class="row">
                <div class="col"><img width="300px" class="shadow p-3 mb-5 bg-white rounded"
                        src="/assets/images/qrcode.jpg"></div>
                <div class="col">
                    <a href="https://apps.apple.com/us/app/id1474959925">
                        <img width="250px" src="/assets/images/gallery/applestore.png">
                    </a>
                    <p></p>
                    <tr>
                        <b>ความต้องการ</b>
                    </tr>
                    <tr>
                        - ระบบปฏิบัติการ IOS 9.0 ขึ้นไป
                    </tr>
                    <tr>
                        - รองรับการใช้งานบน iPhone, iPad, iPod touch
                    </tr>
                </div>
                <div class="w-100"></div>
            </div>
        </div>

    </div>
</div>