<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/big/bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div id="loginform">
            <div class="logo">
                <span class="db"><img src="assets/images/icon/logo-icon-2.png" alt="logo" /></span>
                <p></p>
                <h5 class="font-medium m-b-20">ลงชื่อเข้าใช้</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="loginUserForm" (ngSubmit)="onSubmit()">
                        <div class="popup">
                            <span class="popuptext" id="alertPopup"> เบอร์โทรศัพท์หรือรหัสผ่านของคุณไม่ถูกต้อง </span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="หมายเลขโทรศัพท์"
                                aria-describedby="basic-addon1" formControlName="phoneNumber"
                                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" required>
                            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.phoneNumber.errors.required">กรุณากรอกเบอร์โทรศัพท์</div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input type="password" class="form-control form-control-lg" placeholder="รหัสผ่าน"
                                aria-label="Password" aria-describedby="basic-addon1" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">กรุณากรอกรหัสผ่าน</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <!-- <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">จำบัญชีผู้ใช้งาน</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button type="submit" [disabled]="loading" class="btn btn-block btn-lg btn-info">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    เข้าสู่ระบบ
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                            </div>
                        </div>
                    </form>
                    <div class="form-group m-b-0 m-t-10">
                        <div class="col-sm-12 text-center">
                            สมัครบัญชีผู้ใช้งาน <button (click)="goToRegister()"
                                class="btn btn-link">คลิกที่นี่</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>