<div class="card">
  <div class="card-body">
    <form class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="d-md-flex align-items-center">
        <div>
          <h4 class="card-title">รายการสถานะการดำเนินงาน</h4>
        </div>
        <div class="ml-auto d-flex no-block align-items-center">
          <div class="dl">
          </div>
        </div>
      </div>
    </form>
    <div class="taskboard page-height" onload="onAutoRefresh()">
      <div class="taskboard-wrapper">
        <div class="taskboard-list shadow">
          <h6 class="taskboard-header font-16">รอการดำเนินการ</h6>
          <div class="taskboard-cards" [dragula]="taskgroup" id="queueBox" [(dragulaModel)]="listQueueJob">
            <div class="taskboard-task" *ngFor="let item1 of listQueueJob">
              <div class="taskboard-task-title font-16"></div>
              <div class="container">
                <div class="row">
                  <div>
                    <img height="100px" width="100" src="{{ item1.car_photo.image_path!=undefined?item1.car_photo.image_path:'../assets/images/upload/carCust.jpg' }}">
                  </div>
                  <div class="col">
                    <div class="card-text text-muted font-16"><b>{{ item1.customer_name }}</b></div>
                    <div class="card-text text-muted font-16"><small><b>ยี่ห้อ : </b>{{ item1.brand_name }}</small>
                    </div>
                    <div class="card-text text-muted font-16"><small><b> รุ่น :</b>{{ item1.model }}</small></div>
                    <div class="card-text text-muted font-16"><small><b>ทะเบียน : </b>{{ item1.plate_number }}</small>
                    </div>
                  </div>
                  <div class="float-md-left">
                    <button type="button" class="btn btn-warning btn-circle" (click)="onDelete(item1,inDelete)"><i
                        class="fa fa-times"></i></button>
                  </div>
                </div>
              </div>
              <span>
                <hr></span>
              <div *ngFor="let item0 of item1.car_services">
                <small><b cl>บริการ : </b></small>
                <small class="card-text text-muted">
                  <i *ngIf="onJobStatus(item0)=='0'" class="fas fa-history fa-2x"></i>
                  &nbsp;<b>{{ item0.service_name }}</b>&nbsp;
                </small><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="taskboard-wrapper">
        <div class="taskboard-list shadow">
          <h6 class="taskboard-header font-16">งานที่ดำเนินการอยู่</h6>
          <div class="taskboard-cards" [dragula]="taskgroup" id="startBox" [(dragulaModel)]="listStartedJob">
            <div class="taskboard-task task-status-danger" *ngFor="let item2 of listStartedJob">
              <div class="taskboard-task-title font-16"></div>
              <div class="container">
                <div class="row">
                  <div>
                    <img height="100px" width="100" src="{{ item2.car_photo.image_path!=undefined?item2.car_photo.image_path:'../assets/images/upload/carCust.jpg' }}">
                  </div>
                  <div class="col">
                    <div class="card-text text-muted font-16"><b>{{ item2.customer_name }}</b></div>
                    <div class="card-text text-muted font-16"><small><b>ยี่ห้อ : </b>{{ item2.brand_name }}</small>
                    </div>
                    <div class="card-text text-muted font-16"><small><b> รุ่น :</b>{{ item2.model }}</small></div>
                    <div class="card-text text-muted font-16"><small><b>ทะเบียน : </b>{{ item2.plate_number }}</small>
                    </div>
                  </div>
                  <div class="float-md-left">
                    <button type="button" class="btn btn-info btn-circle" (click)="onDone(item2)"><i
                        class="fa fa-check"></i></button>
                  </div>
                </div>
              </div>
              <span>
                <hr></span>
              <div *ngFor="let item0 of item2.car_services">
                <small><b>บริการ : </b></small>
                <small class="card-text text-muted">
                  <i *ngIf="onJobStatus(item0)=='1'" class="fas fa-check fa-2x"></i>
                  <i *ngIf="onJobStatus(item0)=='2'" class="fas fa-angle-double-right fa-2x"></i>
                  <i *ngIf="onJobStatus(item0)=='0'" class="fas fa-history fa-2x"></i>
                  &nbsp;<b>{{ item0.service_name }}</b>&nbsp;
                </small><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="taskboard-wrapper">
        <div class="taskboard-list shadow">
          <h6 class="taskboard-header font-16">งานที่เสร็จแล้ว</h6>
          <div class="taskboard-cards" [dragula]="taskgroup" id="doneBox" [(dragulaModel)]="listDoneJob">
            <div class="taskboard-task task-status-info" *ngFor="let item3 of listDoneJob" >
              <div class="taskboard-task-title font-16"></div>
              <div class="container">
                <div class="row">
                  <div>
                    <img height="100px" width="100" src="{{ item3.car_photo.image_path!=undefined?item3.car_photo.image_path:'../assets/images/upload/carCust.jpg' }}">
                  </div>
                  <div class="col">
                    <div class="card-text text-muted font-16"><b>{{ item3.customer_name }}</b></div>
                    <div class="card-text text-muted font-16"><small><b>ยี่ห้อ : </b>{{ item3.brand_name }}</small>
                    </div>
                    <div class="card-text text-muted font-16"><small><b> รุ่น :</b>{{ item3.model }}</small></div>
                    <div class="card-text text-muted font-16"><small><b>ทะเบียน : </b>{{ item3.plate_number }}</small>
                    </div>
                  </div>
                  <div class="float-md-left">
                    <button type="button" *ngIf="onCheckPay(item3)==true" class="btn btn-success btn-circle"><i
                        (click)="onPay(item3,inPrice)" class="fa fa-clock"></i></button>
                    <button type="button" *ngIf="onCheckPay(item3)==false" class="btn btn-primary btn-circle"><i
                        (click)="onBill(item3,inBill)" class="fa fa-credit-card"></i></button>
                  </div>
                </div>
              </div>
              <span>
                <hr></span>
              <div>
                <small class="card-text text-muted font-14"><b>สถานะการชำระเงิน : </b>
                  <td *ngIf="onPayStatus(item3)==true">ชำระเงินแล้ว</td>
                  <td *ngIf="onPayStatus(item3)==false">รอการชำระเงิน</td>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #inDelete let-modal>
  <form>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">ลบงาน</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>ยืนยันการลบงาน</strong></p>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">ยกเลิก</button>
      <button type="submit" class="btn btn-danger" (click)="onSubmitDel() && modal.close('Ok click')">ยืนยัน</button>
    </div>
  </form>
</ng-template>

<ng-template #inPrice let-modal>
  <form [formGroup]="addPriceForm">
    <div class="modal-header">
      <h4 class="modal-title">คิดค่าบริการ</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <strong>บริการทั้งหมด</strong>
            <div *ngFor="let items of carServices" class="font-16">
              <small> - {{ items.service_name }} {{ items.price }} บาท</small>
            </div>
            <strong>รวมทั้งหมด</strong>
            <div>
              <small> - {{ total }} บาท</small>
            </div>
          </div>
          <div class="col">
            <strong>รวมค่าบริการ</strong>
            <input type="number" class="form-control" id="price" formControlName="price" placeholder="ราคา"
              aria-label="price" required>
            <p></p>
            <strong>ส่วนลด</strong>
            <input type="number" (keyup)="onKey($event,total)" class="form-control" id="promotion"
              formControlName="promotion" placeholder="ส่วนลด" aria-label="promotion">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">ยกเลิก</button>
      <button type="submit" class="btn btn-danger"
        (click)="onSubmitPay(addPriceForm.value) || modal.close('Ok click')">ตกลง</button>
    </div>
  </form>
</ng-template>

<ng-template #inBill let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">พิมพ์ใบเสร็จรับเงิน</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="print-section">
      <header class="clearfix">
        <div id="logo">
          <img src="../../../assets/images/icon/logo-icon-3.png">
        </div>
        <div id="logo">
          <img src="../../../assets/images/icon/logo-text_black.png">
        </div>
        <h1>ใบเสร็จรับเงิน</h1>
        <div id="company">
          <div>วันที่ {{ date.d }} {{ date.m }} {{ date.y }}</div>
        </div>
        <div id="project" class="clearfix">
          <div>ชื่อลูกค้า: {{ billCar.customer_name }}</div>
          <div>ยี่ห้อรถ: {{ billCar.brand_name }}</div>
          <div>รุ่นรถ: {{ billCar.model }}</div>
          <div>ทะเบียน: {{ billCar.plate_number }}</div>
        </div>
      </header>
      <main>
        <table>
          <thead>
            <tr>
              <th class="unit">ลำดับที่</th>
              <th class="service">บริการ</th>
              <th class="total">จำนวนเงิน</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemService of carServices let i = index;">
              <td class="unit">{{ i +1 }}</td>
              <td class="service">{{ itemService.service_name }}</td>
              <td class="total">{{ itemService.price.toFixed(2) }} บาท </td>
            </tr>
            <tr>
              <td colspan="2" class="grand total">รวมทั้งหมด</td>
              <td class="report">{{ total.toFixed(2) }} บาท </td>
            </tr>
            <tr>
              <td colspan="2" class="grand total">ส่วนลด</td>
              <td class="report">{{ promotion.toFixed(2) }} บาท </td>
            </tr>
            <tr>
              <td colspan="2" class="grand total">ยอดเงินสุทธิ</td>
              <td class="report">{{ pricePay.toFixed(2) }} บาท </td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
  </div>
  <div class="modal-footer">
    <button printSectionId="print-section" class="btn btn-danger" [useExistingCss]="true" ngxPrint>พิมพ์</button>
  </div>
</ng-template>

