:host {
  padding: 0 !important;
  height: 100%;
}

.gu-mirror {
  background-color: white;
  border-radius: 0.125rem;
  padding: 0.5rem;
  opacity: 1;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.0em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

#project {
  float: left;
}

#project span {
  color: #5d6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div{
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #f5f5f5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5d6975;
  border-bottom: 1px solid #c1ced9;
  white-space: nowrap;
  font-weight: normal;
}

table .service {
  text-align: left;
}

table td.unit {
  padding: 20px;
}


table td.total {
  padding: 20px;
  text-align: right;
}

table td.service{
  vertical-align: top;
  padding: 20px;
}

table th.service{
  text-align: center;
}

table td.unit,
table td.report,
table td.total {
  font-size: 1.2em;
}

table td.report {
  border-top: 1px solid #5d6975;
  text-align: right;
  padding: 20px;
}

table td.grand {
  border-top: 1px solid #5d6975;
  text-align: right;
  padding: 20px;
}



