<div class="card">
    <div class="card-body">
        <form class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">ข้อมูลผู้ใช้งาน</h4>
                </div>
            </div>
        </form>

        <div class="container animated slideInUp">
            <div class="row">
                <div class="col">
                <h4>ปัจจบันอยู่สาขา : {{ branchName }}</h4>
                    <img width="300px" class="shadow p-3 mb-5 bg-white rounded" [src]="imageBranch"></div>
                <div class="col">
                    <p></p>
                    <tr>
                        <h4>ชื่อผู้ใช้</h4>
                    </tr>
                    <tr>
                        <input type="text" class="form-control form-control-lg" placeholder="{{ firstName }} {{ lastName }}" [disabled]="true">
                    </tr>
                    <tr>
                        <h4>เบอร์โทรศัพท์</h4>
                    </tr>
                    <tr>
                        <input type="text" class="form-control form-control-lg" placeholder="{{ mobile }}" [disabled]="true">
                    </tr>
                    <tr>
                        <h4>วันเดือนปีเกิด</h4>
                    </tr>
                    <tr>
                        <input type="text" class="form-control form-control-lg" placeholder="{{ dateBirth }}" [disabled]="true">
                    </tr>
                </div>
                <div class="w-100"></div>
            </div>
        </div>

    </div>
</div>