<div class="card">
    <div class="card-body">
        <form class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">เพิ่มงาน</h4>
                </div>
            </div>
        </form>
        <div class="container">
            <form [formGroup]="addJobForm" (ngSubmit)="onSubmit()">
                <div class="d-flex flex-row-reverse">
                    <div class="p-2"><button class="btn btn-outline-primary" type="button"
                            (click)="goToCarCustomer();">เพิ่มรถลูกค้า</button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">รถลูกค้า</label>
                        <strong class="text-danger"> *</strong>
                        <ng-multiselect-dropdown [placeholder]="'เลือกรถลูกค้า'" [data]="carCustomers"
                            [settings]="dropdownCarCustomer" formControlName="incarCustomers"
                            (onSelect)="onItemSelectCar($event)" (onDeSelect)="onItemDeSelectCar($event)"
                            [attr.disabled]="true" required>
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">บริการ</label>
                        <strong class="text-danger"> *</strong>
                        <ng-multiselect-dropdown [placeholder]="'เลือกบริการ'" [data]="service"
                            [settings]="dropdownService" formControlName="inservice"
                            (onSelect)="onItemSelectService($event)" (onDeSelect)="onItemDeSelectService($event)"
                            [attr.disabled]="true" required>
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="showSuccess">
                    <strong>ดำเนินการสำเร็จ!</strong>
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="showWarning">
                    <strong>กรุณาเลือกข้อมูลให้ครบ!</strong>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="showDanger">
                    <strong>ผิดพลาด! </strong> มีรายชื่อรถลูกค้าคันนี้ ดำเนินการอยู่แล้ว!
                </div>
                <hr>
                <div class="card-body">
                    <div class="action-form">
                        <div class="form-group m-b-0 text-center">
                            <button type="submit" [disabled]="loading" class="btn btn-info waves-effect waves-light">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                เพิ่มงาน
                            </button>
                            <button type="button" class="btn btn-dark waves-effect waves-light"
                                (click)="onResetForm();">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>