<div class="card">
    <div class="card-body">
        <form class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">สรุปยอด</h4>
                </div>
            </div>
        </form>

        <div class="card gredient-info-bg m-t-0 m-b-0">
            <div class="card-body">
                <div class="row m-t-15 m-b-20">
                    <div class="col-sm-12 col-md-4">
                        <div class="temp d-flex align-items-center flex-row">
                            <div class="display-5 text-white">
                                <i class="mdi mdi-home text-white display-5 op-5"></i>
                            </div>
                            <div class="m-l-10">
                                <h3 class="m-b-0 text-white">SCMS</h3>
                                <span class="text-white">ชื่อสาขา</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-lg-8">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="info d-flex align-items-center">
                                    <div class="m-r-10">
                                        <i class="mdi mdi-wallet text-white display-5 op-5"></i>
                                    </div>
                                    <div>
                                        <h3 class="text-white m-b-0">{{ payCount }} ฿</h3>
                                        <span class="text-white">รวมค่าบริการทั้งหมด</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="info d-flex align-items-center">
                                    <div class="m-r-10">
                                        <i class="mdi mdi-car text-white display-5 op-5"></i>
                                    </div>
                                    <div>
                                        <h3 class="text-white m-b-0">{{ carCount }}</h3>
                                        <span class="text-white">จำนวนรถที่เข้าใช้บริการ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="info d-flex align-items-center">
                                    <div class="m-r-10">
                                        <i class="mdi mdi-basket text-white display-5 op-5"></i>
                                    </div>
                                    <div>
                                    <h3 class="text-white m-b-0">{{ serviceCount }}</h3>
                                        <span class="text-white">จำนวนบริการที่เข้าใช้</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-hover">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">สรุปค่าเฉลี่ยการใช้บริการ</h4>
                        <h5 class="card-subtitle">มุมมองแสดงค่าเฉลี่ย</h5>
                    </div>
                    <div class="ml-auto align-items-center">
                        <form >
                            <div class="d-flex flex-row-reverse">
                                <div ngbDropdown class="dropdown" >
                                    <button class="btn btn-secondary btn-lg btn-block"
                                        ngbDropdownToggle>เลือกผลการสรุปยอด</button>
                                    <div ngbDropdownMenu class="btn btn-block">
                                        <button ngbDropdownItem (click)="onToDay()">
                                            <h5>รายวัน</h5>
                                        </button>
                                        <button ngbDropdownItem (click)="onLastWeek()">
                                            <h5>รายสัปดาห์</h5>
                                        </button>
                                        <button ngbDropdownItem (click)="onLastMonth()">
                                            <h5>รายเดือน</h5>
                                        </button>
                                        <button ngbDropdownItem (click)="onLastYear()">
                                            <h5>รายปี</h5>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- column -->
                <div class="row m-t-40">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div id="visitor" class="m-t-20"></div>
                    </div>
                    <!-- column -->
                    <div class="col-lg-6">
                        <!-- <h1 class="display-6 m-b-0 font-medium">45%</h1> -->
                        <span>ค่าเฉลี่ยการใช้บริการ / รถ</span>
                        <ul class="list-style-none">
                            <li class="m-t-20">
                                <i class="fas fa-circle m-r-5 text-cyan font-12"></i> จำนวนรถที่เข้าใช้บริการ
                                <span class="float-right">{{ carCount }}</span>
                            </li>
                            <li class="m-t-20">
                                <i class="fas fa-circle m-r-5 text-info font-12"></i> จำนวนบริการที่เข้าใช้
                            <span class="float-right">{{ serviceCount }}</span>
                            </li>
                            <!-- <li class="m-t-20">
                                <i class="fas fa-circle m-r-5 text-orange font-12"></i> Un-Open Ratio
                                <span class="float-right">25</span>
                            </li> -->
                            <!-- <li class="m-t-20">
                                <i class="fas fa-circle m-r-5 text-primary font-12"></i> Bounced Ratio
                                <span class="float-right">17%</span>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!-- column -->
            </div>
        </div>

    </div>
</div>


