<div class="card">
  <div class="card-body">
    <form class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="d-md-flex align-items-center">
        <div>
          <h4 class="card-title">รายการบริการ</h4>
        </div>
      </div>
    </form>
    <div class="table table-responsive smart-table">
      <ng2-smart-table [settings]="settings" [source]="source" class="" (createConfirm)='onCreateConfirm($event)'
        (editConfirm)="onSaveConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </div>
  </div>
</div>