<div class="card">
  <div class="card-body">
    <form class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="d-md-flex align-items-center">
        <div>
          <h4 class="card-title">ประวัติการเข้าใช้บริการ</h4>
        </div>
      </div>
    </form>
    <form class="w-50 m-b-30">
      <input type='text' class="form-control" placeholder='ค้นหาข้อมูลลูกค้า...' (keyup)='updateFilter($event)' />
    </form>
    <ngx-datatable #table class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]="10" [rows]='rows' [reorderable]="reorderable">

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="ชื่อลูกค้า"
        prop="customerName">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.customer_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="เบอร์โทรศัพท์">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.phone }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="ยี่ห้อรถ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.brandName }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="รุ่นรถ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.model }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="ทะเบียนรถ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.plateNumber }}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>