<div class="card">
    <div class="card-body">
        <form class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">เพิ่มรถลูกค้า</h4>
                </div>
            </div>
        </form>
        <div class="container">
            <form [formGroup]="addCarCustomerForm"
                (ngSubmit)="onSubmitNewCar(addCarCustomerForm.value, inSelectCustomer)">
                <div class="col-12">
                    <div class="form-group">
                        <div class="text-center">
                            <img width="200" height="180" [src]="imgURL"  class="rounded">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">อัพโหลดรูปรถ</label>
                        <div class="custom-file">
                            <input type="file" name="files[]" multiple class="custom-file-input" accept=".jpg"
                                id="customFile" #fileInput (change)="imageCar(fileInput)" formControlName="inImg">
                            <label class="custom-file-label" for="customFile">{{ message }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">ทะเบียนรถ</label>
                        <strong class="text-danger"> *</strong>
                        <input class="form-control" type="text" formControlName="inLicense"  placeholder="กรอกทะเบียนรถ"
                            required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">ยี่ห้อรถ</label>
                        <strong class="text-danger"> *</strong>
                        <ng-multiselect-dropdown [placeholder]="'เลือกยี่ห้อรถ'" [data]="brands"
                            [settings]="dropdownBrand" formControlName="inBrand" (onSelect)="onItemSelectBrand($event)"
                            (onDeSelect)="onItemDeSelectBrand($event)" [attr.disabled]="true" required>
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">รุ่นรถ</label>
                        <input class="form-control" type="text" formControlName="inModel" placeholder="กรอกรุ่นรถ">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">สีรถ</label>
                        <ng-multiselect-dropdown [placeholder]="'เลือกสีรถ'" [data]="colors" [settings]="dropdownColor"
                            formControlName="inColor" (onSelect)="onItemSelectColor($event)"
                            (onDeSelect)="onItemDeSelectColor($event)" >
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="showSuccess">
                    <strong>ดำเนินการสำเร็จ!</strong>
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="showWarning">
                    <strong>กรุณากรอกข้อมูลให้ครบ!</strong>
                </div>
                <hr>
                <div class="card-body">
                    <div class="action-form">
                        <div class="form-group m-b-0 text-center">
                            <button type="submit" class="btn btn-info waves-effect waves-light">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                เพิ่มรถลูกค้า
                            </button>
                            <button type="button" class="btn btn-dark waves-effect waves-light">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #inAddNewCustomer let-modal>
    <form [formGroup]="addNewCustomerForm"
        (ngSubmit)="onSubmitAddNewCustomer(addNewCustomerForm.value && modal.close('Ok click'))">
        <div class="modal-header">
            <h4 class="modal-title">เพิ่มลูกค้าใหม่</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click') && onResetForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-12">
                    <label class="control-label col-form-label">ชื่อลูกค้า</label>
                    <strong class="text-danger"> *</strong>
                    <input type="text" class="form-control" formControlName="inNewCustomer" placeholder="กรอกชื่อลูกค้า"
                        aria-label="price" required>
                    <p></p>
                </div>
                <div class="col-12">
                    <label class="control-label col-form-label">เบอร์โทรศัพท์</label>
                    <strong class="text-danger"> *</strong>
                    <div formArrayName="inNumberPhone">
                        <div *ngFor="let item of numberPhone.controls; let i=index">
                            <div class="panel-body" [formGroupName]="i">
                                <input type="text" class="form-control" formControlName="phone"
                                    placeholder="กรอกเบอร์โทรศัพท์">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-outline-primary" type="button" (click)="onAddNumberPhone()"><i
                            class="fas fa-plus-circle"></i>
                        เพิ่มเบอร์โทรศัพท์</button>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">ยกเลิก</button>
            <button type="submit" class="btn btn-danger">ตกลง</button>
        </div>
    </form>
</ng-template>

<ng-template #inAddNewCarOldCustomer let-modal>
    <form [formGroup]="addNewCarOldCustomerForm" (ngSubmit)="onSubmitAddNewCarOldCustomer(modal.close('Ok click'))">
        <div class="modal-header">
            <h4 class="modal-title">ลูกค้าปัจจุบัน</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click') && onResetForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label col-form-label">ลูกค้า</label>
                        <strong class="text-danger"> *</strong>
                        <ng-multiselect-dropdown [placeholder]="'เลือกชื่อลูกค้า'" [data]="customers"
                            [settings]="dropdownCustomer" formControlName="inCustomer"
                            (onSelect)="onItemSelectCustomer($event)" (onDeSelect)="onItemDeSelectCustomer($event)"
                             [attr.disabled]="true" required>
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click') && onResetForm()">ยกเลิก</button>
            <button type="submit" class="btn btn-danger">ตกลง</button>
        </div>
    </form>
</ng-template>

<ng-template #inSelectCustomer let-modal>
    <form [formGroup]="addNewCustomerForm">
        <div class="modal-header">
            <h4 class="modal-title">เลือกประเภทลูกค้า</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click') && onResetForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-12">
                    <div ngbDropdown class="dropdown" [autoClose]="false">
                        <button class="btn btn-outline-secondary btn-lg btn-block"
                            ngbDropdownToggle>เลือกประเภทลูกค้า</button>
                        <div ngbDropdownMenu class="btn btn-block">
                            <button ngbDropdownItem 
                                (click)="onOpenAddNewCustomer(inAddNewCustomer) && modal.dismiss('cancel click') && onResetForm()">
                                <h5>เพิ่มลูกค้าใหม่</h5>
                            </button>
                            <button ngbDropdownItem (click)="onOpenAddNewCarOldCustomer(inAddNewCarOldCustomer) &&
                                modal.dismiss('cancel click')">
                                <h5>ลูกค้าปัจจุบัน</h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </form>
</ng-template>