<div class="card">
  <div class="card-body">
    <form class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="d-md-flex align-items-center">
        <div>
          <h4 class="card-title">ข้อมูลรายชื่อลูกค้า</h4>
        </div>
      </div>
    </form>
    <form class="w-50 m-b-30">
      <input type='text' class="form-control" placeholder='ค้นหาข้อมูลลูกค้า...' (keyup)='updateFilter($event)' />
    </form>
    <ngx-datatable #table class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]="10" [rows]='rows' [reorderable]="reorderable">

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="ชื่อลูกค้า"
        prop="customerName">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-link" (click)="onEditCust(row,inEditCustomer)"><b>{{ row.customerName }}</b></button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="เบอร์โทรศัพท์">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.phone }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="ยี่ห้อรถ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.brandName }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="รุ่นรถ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.model }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="true" [draggable]="true" [canAutoResize]="true" name="ทะเบียนรถ">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.plateNumber }}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

<ng-template #inEditCustomer let-modal>
  <form [formGroup]="updateCustomerForm"
    (ngSubmit)="onSubmitUpdateCustomer(updateCustomerForm.value && modal.close('Ok click'))">
    <div class="modal-header">
      <h4 class="modal-title">แก้ไขข้อมูลลูกค้า</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="col-12">
          <div class="form-group">
            <div class="text-center">
              <img width="90" height="90" [src]="imgURL" class="rounded">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="control-label col-form-label">อัพโหลดรูปรถ</label>
            <div class="custom-file">
              <input type="file" name="files[]" multiple class="custom-file-input" accept=".jpg" id="customFile"
                #fileInput (change)="imageUser(fileInput)" formControlName="inImg">
              <label class="custom-file-label" for="customFile">{{ message }}</label>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label class="control-label col-form-label">ชื่อลูกค้า</label>
          <strong class="text-danger"> *</strong>
          <input type="text" class="form-control" formControlName="inNameCustomer" placeholder="กรอกชื่อลูกค้า"
            aria-label="price" required>
          <p></p>
        </div>
        <div class="col-12">
          <label class="control-label col-form-label">เบอร์โทรศัพท์</label>
          <strong class="text-danger"> *</strong>
          <input type="text" class="form-control" formControlName="inNumberPhone" placeholder="กรอกเบอร์โทรศัพท์"
            aria-label="price" required>
          <p></p>
        </div>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="showWarning">
        <strong>กรุณากรอกข้อมูลให้ครบ!</strong>
      </div>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">ยกเลิก</button>
      <button type="submit" class="btn btn-danger">ตกลง</button>
    </div>
   
  </form>
</ng-template>