@import "../../assets/scss/variable.scss";

.auth-wrapper {
  min-height: 100vh;
  position: relative;
  .auth-box {
    background: $white;
    padding: 20px;
    box-shadow: $shadow;
    max-width: 800px;
    width: 90%;
    margin: 0;
    .logo {
      text-align: center;
    }
    &.on-sidebar {
      top: 0px;
      right: 0px;
      height: 100%;
      margin: 0px;
      position: absolute;
    }
  }
}
