<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/big/bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div >
            <div class="logo">
                <span class="db"><img src="assets/images/icon/logo-icon-2.png" alt="logo" /></span>
                <p></p>
                <h5 class="font-medium m-b-20">สมัครบัญชีผู้ใช้งาน</h5>
            </div>
            <!-- Form -->
            <div class="container">
                <form class="form-horizontal m-t-20" [formGroup]="registrationForm" (ngSubmit)="onSubmitRegistrantion(inaddOTP)">
                    <hr><br>
                    <div class="form-group row">
                        <div class="col">
                            <label class="control-label col-form-label">ชื่อ</label>
                            <strong class="text-danger"> *</strong>
                            <input class="form-control form-control-lg" formControlName="firstName" type="text"
                                placeholder="ชื่อ" required>
                        </div>
                        <div class="col">
                            <label class="control-label col-form-label">นามสกุล</label>
                            <strong class="text-danger"> *</strong>
                            <input class="form-control form-control-lg" type="text" formControlName="lastName"
                                placeholder="นามสกุล" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label class="control-label col-form-label">วันเดือนปีเกิด</label>
                            <strong class="text-danger"> *</strong>
                            <input type="date" class="form-control form-control-lg" formControlName="dateOfBrith"
                                value="{{ onDate }}" required>
                        </div>
                        <div class="col">
                            <label class="control-label col-form-label">เพศ</label>
                            <strong class="text-danger"> *</strong>
                            <select class="form-control form-control-lg" formControlName="sex" id="inputGroupSelect01"
                                required>
                                <option selected>เลือกเพศ</option>
                                <option value="m">ชาย</option>
                                <option value="f">หญิง</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col">
                            <label class="control-label col-form-label">เบอร์โทรศัพท์</label>
                            <strong class="text-danger"> *</strong>
                            <input class="form-control form-control-lg" formControlName="phoneNumber" type="text"
                                placeholder="เบอร์โทรศัพท์" required>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label class="control-label col-form-label">รหัสผ่าน</label>
                            <strong class="text-danger"> *</strong>
                            <input class="form-control form-control-lg" formControlName="password" type="password"
                                placeholder="รหัสผ่าน" required>
                        </div>
                        <div class="col">
                            <label class="control-label col-form-label">ยืนยันรหัสผ่าน</label>
                            <strong class="text-danger"> *</strong>
                            <input class="form-control form-control-lg" formControlName="confirmPassword"
                                type="password" placeholder="ยืนยันรหัสผ่าน" required>
                        </div>
                    </div>
                    <div class="form-group row"></div>
                    <div class="alert alert-warning" role="alert" *ngIf="showWarning">
                        <strong>กรุณากรอกข้อมูลให้ครบ!</strong>
                    </div>
                    <div class="alert alert-danger" role="danger" *ngIf="showDanger">
                        <strong>เบอร์โทรศัพท์ของคุณถูกใช้แล้ว!</strong>
                    </div>
                    <div class="alert alert-danger" role="danger" *ngIf="showPassword">
                        <strong>รหัสผ่านยืนยันไม่ตรงกัน!</strong>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col">
                            <div class="form-group text-center ">
                                <div class="col-xs-12 p-b-20 ">
                                    <button class="btn btn-block btn-lg btn-info " type="submit ">สมัครสมาชิก</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group text-center ">
                                <div class="col-xs-12 p-b-20 ">
                                    <button class="btn btn-block btn-lg btn-danger " type="reset" (click)="goToLogin()">ยกเลิก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #inaddOTP let-modal>
    <form [formGroup]="addOTPForm" (ngSubmit)="onSubmitAddOTP(inSuccess)">
        <div class="modal-header">
            <h4 class="modal-title">ยืนยันรหัส OTP</h4>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-12">
                    <div class="form-group">
                        <strong class="control-label col-form-label">กรุณารับรหัส OTP ทาง SMS</strong>
                    </div>
                    <input class="form-control form-control-lg" formControlName="otp" type="text"
                    placeholder="กรุณากรอกรหัส OTP" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">ตกลง</button>
        </div>
    </form>
</ng-template>

<ng-template #inSuccess let-modal>
        <div class="modal-header">
            <h4 class="modal-title">เสร็จสิ้นการสมัคร</h4>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col-12">
                    <div class="form-group">
                        <strong class="control-label col-form-label">สมัครสมาชิกสำเร็จ !!!</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" (click)="goToSuccess()">ตกลง</button>
        </div>
</ng-template>